   <configuration>
  <configSections>
  </configSections>
  <appSettings>

    <!--MOTOR Base_De_Datos-->
    <add key="motorBDD" value="SQL Server" />

    <!--CONTROLES-->
    <add key="ControlCancelado" value="False" />
    <add key="ControlCobro" value="False" />
    <add key="ControlFactura" value="False" />
    <add key="VerHistograma" value="False" />
    <add key="ControlQR" value="True" />
    <add key="HistogramaEquipo" value="Dymind" />
    <add key="Tiempo" value="9000" />
    <add key="Decimales" value="2" />
    <add key="Dialisis" value="True" />
    <add key="Convenio" value="0" />
    <add key="Servicio" value="0" />
    <add key="Impresoras" value="False" />
    <add key="Correo" value="Web" />
    
       <!--MOTOR SQL SERVER-->
    <add key="Providersql" value="SQL Server" />
    <add key="Locationsql" value="localhost" />
    <add key="DataSourceSQL" value="CENTER_BASE" />
    <add key="userIdSQL" value="sa" />
    <add key="passwordSQL" value="505F535D5846484209000104" />
    <add key="portSQL" value="1433" />

    <!--Tiempo de espera para cerrar session-->
    <add key="MINESPERA" value="3" />
    <add key="Delay" value="400" />
    <add key="DIAS_RECETA" value="90" />
    
    <!--Impresion ETIQUETAS -->
    <!--TIPO SECUENCIA TURNO-->
    <add key="TSecuencia" value="DIARIO" />

    <!--MINUTOS PARA LA TOMA DE MUESTRA-->
    <add key="TOMAMUESTRA" value="5" />
    
    <!--NUMERO INTERNO AUX-->
    <add key="TCodigo" value="True" />
    
    <add key="AUTOMATICO" value="False" />
    <add key="CBPACIENTE" value="False" />
    <add key="CBPEDIDO" value="False" />
    <add key="TITULO" value="ELITE LAB" />
    <add key="UNIDAD" value="NA" />
    <add key="PROV_ID" value="17" />
    <add key="CIU_ID" value="781" />
    <add key="PROV_NOMBRE" value="PICHINCHA" />
    <add key="CIU_NOM" value="QUITO DM" />
    <add key="MATRIZ" value="True" />
    <add key="FORMATO_PDF" value="0" />

    <!-- QUITO 1-->
    <!-- LAGO AGRIO 161-->
    <!-- SALCEDO 28-->
    <!-- SANTO DOMINGO 143-->
    <!-- QUEVEDO 103-->
    <!-- EL PUYO 172-->
    <!-- LA MANA 25-->
    <!-- IBARRA 78-->

    <add key="Source" value="arch_imprimir.aux" />
    <add key="Codigo de Barras" value="code 39" />

    <add key="ImpP" value="Recepcion" />
    <add key="ImpS1" value="Secretaria" />
    <add key="ImpS2" value="Emergencia" />
    <add key="PuertoP" value="//localhost/barras_1" />
    <add key="PuertoS1" value="//localhost/BarCode2" />
    <add key="PuertoS2" value="//localhost/BarCode2" />

    <!--WEB-->
    <add key="SALIDA" value="True" />
    <add key="SITIO" value="http://www.elitelaboratorios.com/" />
    <add key="FIRMADUAL" value="True" />
    <add key="NIVEL" value="True" />
    <!--<add key="PATHQR" value="http://rossvanflores.simplesite.com/" />-->
    <add key="PATHQR" value="http://localhost/AnalisysWEB/Descargadoc.aspx?id=" />
    <add key="PATHQR_RECETA" value="http://localhost/AnalisysWEB/DescargaReceta.aspx?id=" />
    


    <!--DIRECCION LOG-->
    <add key="SourceT" value="Log" />

    <!--MODO AUTO COMPLETADO-->
    <add key="MODO" value="APPEND" />

    <!--INTERFACES-->
    <add key="INTERFACE" value="True" />
    <add key="NOMBRE" value="INFINITY" />
    <add key="RUTA" value="D:/Interface/" />

    <!--NUMERO DE INTENTOS-->
    <add key="INTENTOS" value="3" />

  
    <!--Path VARIOS
    <add key="Remitidos" value="//192.58.1.251/Remitidos/" />
    <add key="RemitidosLee" value="\\192.58.1.251\Remitidos\" />-->
    <!--Path REMITIDOS  PRoD -->
    <add key="Remitidos" value="D:/Remitidos/" />
    <add key="RemitidosLee" value="D:\Remitidos\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReportesPDF" value="Pdf" />
    <add key="ServerPDF" value="W:\" />
    <add key="Imagenes" value="Ocupacional" />
    <add key="Histogramas" value="Histogramas" />
    <add key="QR" value="QR" />
    <add key="QRRECETA" value="QRRECETA" />
    <add key="Recetas" value="Recetas" />
  </appSettings>
     
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>