<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="frmGraph.ControlBox" value="True" />
    <add key="frmGraph.MaximizeBox" value="True" />
    <add key="frmGraph.MinimizeBox" value="True" />
    <add key="frmGraph.Opacity" value="1" />
    
    <!--MOTOR Base_De_Datos-->
	<add key="motorBDD" value="SQL Server" />

	<!--MOTOR SQL SERVER-->
    <add key="Providersql" value="SQL Server" />
    <add key="Locationsql" value="." />
    <add key="DataSourceSQL" value="CENTER_CLI" />
    <add key="userIdSQL" value="sa" />
    <add key="passwordSQL" value="chiquitin@123" />
    <add key="portSQL" value="1433" />

    <!--Imprimir ETIQUETAS-->
	<add key="AUTOMATICO" value="False" />
    <add key="CBPACIENTE" value="False" />
    <add key="CBPEDIDO" value="True" />
    <add key="TITULO" value="HOSP. GONZALEZ" />

	  <!--Teimpo de espera para cerrar session-->
	  <add key="MINESPERA" value="1" />
	  
    <!--Imprimir DESTINO-->
    <!--CONFIGURACION DE IMPRESORAS DE CODIGO DE BARRAS-->
    <add key="Source" value="arch_imprimir.aux" />
    <add key="Codigo de Barras" value="code 39" />
    <add key="ImpP" value="Recepcion" />
    <!--PRIMERA IMPRESORA CB QUE APARECE COMO OPCION-->
    <add key="ImpS1" value="Secretaria" />
    <!--SEGUNDA IMPRESORA CB QUE APARECE COMO OPCION-->
    <add key="ImpS2" value="Emergencia" />
    <!--TERCERA IMPRESORA CB QUE APARECE COMO OPCION-->
    <add key="PuertoP" value="//CMR/BarCode" />
    <!--UBICACION/PUERTO DE LA PRIMERA IMPRESORA CB-->
    <add key="PuertoS1" value="//CMR/BarCode" />
    <!--UBICACION/PUERTO DE LA PRIMERA IMPRESORA CB-->
    <add key="PuertoS2" value="//CMR/BarCode" />
    <!--UBICACION/PUERTO DE LA PRIMERA IMPRESORA CB-->

    <!--TIPO SECUENCIA TURNO-->
    <add key="TSecuencia" value="MENSUAL" />
	
	<!--DIR LOG-->
	<add key="SourceT" value="LOG" />

	<!--MODO AUTO COMPLETADO-->
    <add key="MODO" value="APPEND" />

	<!--NUMERO DE INTENTOS-->
	<add key="INTENTOS" value="3" />
	  
    <!--AS400-->
    <add key="g_ASdatasource" value="IP" />
    <add key="g_ASuser" value="conexion" />
    <add key="g_ASpassword" value="conexion" />
    <add key="g_ASlibreria" value="CEDDTA" />
    <add key="g_ASRutina" value="CEDOBJ" />
    <add key="g_ASPrograma" value="DTLC05" />
    <add key="g_ASTimeOut" value="45" />
    <add key="g_UniMedica" value="12323" />

	  <!--Stock-->
    <add key="Porcentaje" value="10" />
    <add key="Dias" value="5" />
    
    <!--Path REMITIDOS 
    <add key="Remitidos" value="//192.58.1.251/Remitidos/" />
    <add key="RemitidosLee" value="\\192.58.1.251\Remitidos\" />-->
    <!--Path REMITIDOS  PRoD -->
    <add key="Remitidos" value="D:/Remitidos/" />
    <add key="RemitidosLee" value="D:\Remitidos\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>